
.img_box {
    text-align: center;
}

img {
    width: 300px;
    height: 300px;
}

.red {
    background-color: red;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 100px;
}

.content_box {
    border: solid;
    width: 300px;
    text-align: center;
    padding: 10px;
}
.content {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 896px){
    .content {
        display: block;
    }
    .content_box {
        width: 90%;
        padding: 3% 3%;
        margin-top: 30px;
    }
    img {
        width: 90%;
        height: auto;
    }
}